# Wedge Project
## Intial Setup

Loading in the clean files

In [1]:
import os

In [2]:
import io

In [3]:
os.listdir("clean-files")

['transArchive_201210_201212_inactive_clean.csv',
 'transArchive_201010_201012_clean.csv',
 'transArchive_201601_clean.csv',
 'transArchive_201107_201109_clean.csv',
 'transArchive_201310_201312_inactive_clean.csv',
 'transArchive_201204_201206_clean.csv',
 'transArchive_201104_clean.csv',
 'transArchive_201512_clean.csv',
 'transArchive_201307_201309_clean.csv',
 'transArchive_201210_201212_clean.csv',
 'transArchive_201410_201412_inactive_clean.csv',
 'transArchive_201004_201006_clean.csv',
 'transArchive_201307_201309_inactive_clean.csv',
 'transArchive_201207_201209_inactive_clean.csv',
 'transArchive_201410_201412_clean.csv',
 'transArchive_201607_clean.csv',
 'transArchive_201507_201509_clean.csv',
 'transArchive_201407_201409_inactive_clean.csv',
 'transArchive_201404_201406_clean.csv',
 'transArchive_201207_201209_clean.csv',
 'transArchive_201310_201312_clean.csv',
 'transArchive_201304_201306_inactive_clean.csv',
 'transArchive_201204_201206_inactive_clean.csv',
 'transArchive_201110_201112_clean.csv',
 'transArchive_201105_clean.csv',
 'transArchive_201007_201009_clean.csv',
 'transArchive_201304_201306_clean.csv',
 'transArchive_201404_201406_inactive_clean.csv',
 'transArchive_201504_201506_clean.csv',
 'transArchive_201401_201403_inactive_clean.csv',
 'transArchive_201606_clean.csv',
 'transArchive_201612_clean.csv',
 'transArchive_201301_201303_inactive_clean.csv',
 'transArchive_201201_201203_inactive_clean.csv',
 'transArchive_201407_201409_clean.csv',
 'transArchive_201001_201003_clean.csv',
 'transArchive_201603_clean.csv',
 'transArchive_201201_201203_clean.csv',
 'transArchive_201106_clean.csv',
 'transArchive_201510_clean.csv',
 'transArchive_201611_clean.csv',
 'transArchive_201605_clean.csv',
 'transArchive_201401_201403_clean.csv',
 'transArchive_201608_clean.csv',
 'transArchive_201701_clean.csv',
 'transArchive_201301_201303_clean.csv',
 'transArchive_201602_clean.csv',
 'transArchive_201511_clean.csv',
 'transArchive_201101_201103_clean.csv',
 'transArchive_201604_clean.csv',
 'transArchive_201610_clean.csv',
 'transArchive_201609_clean.csv',
 'transArchive_201501_201503_clean.csv']

In [4]:
clean_files = os.listdir("clean-files")

So now I'm going to establish Connection with GBQ

In [3]:
# Do our imports for the code
from google.cloud import bigquery
from google.oauth2 import service_account

In [4]:
# These first two values will be different on your machine. 
service_path = "/Users/CJMcWilliams/Desktop/ADA/Wedge/"
service_file = 'Wedge Project-1575e46935c4.json' # change this to your authentication information  
gbq_proj_id = 'disco-beach-290522' # change this to your poroject. 
gbq_dataset_id = 'wedge' # and change this to your data set ID

private_key =service_path + service_file

In [5]:
# Get your credentials
credentials = service_account.Credentials.from_service_account_file(service_path + service_file)

# And create a client to talk to GBQ
client = bigquery.Client(credentials = credentials, project=gbq_proj_id)

In [8]:
#path to clean files
path_to_files = "/Users/CJMcWilliams/Desktop/ADA/Wedge/Project/clean-files/"

## Table Creation


Next is where I create a table for each file in the folder. This also includes adding a schema to our tables

In [10]:
#see if the table exists
def tbl_exists(client, table_ref):
    from google.cloud.exceptions import NotFound
    try:
        client.get_table(table_ref)
        return True
    except NotFound:
        return False

In [11]:
#beginning code that allows us to modify the table
job_config = bigquery.LoadJobConfig()
job_config.write_disposition = bigquery.WriteDisposition.WRITE_APPEND
job_config.schema_update_options = [
    bigquery.SchemaUpdateOption.ALLOW_FIELD_ADDITION # This allows us to modify the table. 
]

In [12]:
#schema field additions for tables
job_config.schema = [
    bigquery.SchemaField("datetime", "TIMESTAMP", mode="NULLABLE"),
    bigquery.SchemaField("register_no", "FLOAT", mode="NULLABLE"),
    bigquery.SchemaField("emp_no", "FLOAT", mode="NULLABLE"),
    bigquery.SchemaField("trans_no", "FLOAT", mode="NULLABLE"),
    bigquery.SchemaField("upc", "STRING", mode="NULLABLE"),
    bigquery.SchemaField("description", "STRING", mode="NULLABLE"),
    bigquery.SchemaField("trans_type", "STRING", mode="NULLABLE"),
    bigquery.SchemaField("trans_subtype", "STRING", mode="NULLABLE"),
    bigquery.SchemaField("trans_status", "STRING", mode="NULLABLE"),
    bigquery.SchemaField("department", "FLOAT", mode="NULLABLE"),
    bigquery.SchemaField("quantity", "FLOAT", mode="NULLABLE"),
    bigquery.SchemaField("Scale", "FLOAT", mode="NULLABLE"),
    bigquery.SchemaField("cost", "FLOAT", mode="NULLABLE"),
    bigquery.SchemaField("unitPrice", "FLOAT", mode="NULLABLE"),
    bigquery.SchemaField("total", "FLOAT", mode="NULLABLE"),
    bigquery.SchemaField("regPrice", "FLOAT", mode="NULLABLE"),
    bigquery.SchemaField("altPrice", "FLOAT", mode="NULLABLE"),
    bigquery.SchemaField("tax", "FLOAT", mode="NULLABLE"),
    bigquery.SchemaField("taxexempt", "FLOAT", mode="NULLABLE"),
    bigquery.SchemaField("foodstamp", "FLOAT", mode="NULLABLE"),
    bigquery.SchemaField("wicable", "FLOAT", mode="NULLABLE"),
    bigquery.SchemaField("discount", "FLOAT", mode="NULLABLE"),
    bigquery.SchemaField("memDiscount", "FLOAT", mode="NULLABLE"),
    bigquery.SchemaField("discountable", "FLOAT", mode="NULLABLE"),
    bigquery.SchemaField("discounttype", "FLOAT", mode="NULLABLE"),
    bigquery.SchemaField("voided", "FLOAT", mode="NULLABLE"),
    bigquery.SchemaField("percentDiscount", "FLOAT", mode="NULLABLE"),
    bigquery.SchemaField("ItemQtty", "FLOAT", mode="NULLABLE"),
    bigquery.SchemaField("volDiscType", "FLOAT", mode="NULLABLE"),
    bigquery.SchemaField("volume", "FLOAT", mode="NULLABLE"),
    bigquery.SchemaField("VolSpecial", "FLOAT", mode="NULLABLE"),
    bigquery.SchemaField("mixMatch", "FLOAT", mode="NULLABLE"),
    bigquery.SchemaField("matched", "FLOAT", mode="NULLABLE"),
    bigquery.SchemaField("memType", "BOOLEAN", mode="NULLABLE"),
    bigquery.SchemaField("staff", "BOOLEAN", mode="NULLABLE"),
    bigquery.SchemaField("numflag", "FLOAT", mode="NULLABLE"),
    bigquery.SchemaField("itemstatus", "FLOAT", mode="NULLABLE"),
    bigquery.SchemaField("tenderstatus", "FLOAT", mode="NULLABLE"),
    bigquery.SchemaField("charflag", "STRING", mode="NULLABLE"),
    bigquery.SchemaField("varflag", "FLOAT", mode="NULLABLE"),
    bigquery.SchemaField("batchHeaderID", "BOOLEAN", mode="NULLABLE"),
    bigquery.SchemaField("local", "FLOAT", mode="NULLABLE"),
    bigquery.SchemaField("organic", "FLOAT", mode="NULLABLE"),
    bigquery.SchemaField("display", "BOOLEAN", mode="NULLABLE"),
    bigquery.SchemaField("receipt", "FLOAT", mode="NULLABLE"),
    bigquery.SchemaField("card_no", "FLOAT", mode="NULLABLE"),
    bigquery.SchemaField("store", "FLOAT", mode="NULLABLE"),
    bigquery.SchemaField("branch", "FLOAT", mode="NULLABLE"),
    bigquery.SchemaField("match_id", "FLOAT", mode="NULLABLE"),
    bigquery.SchemaField("trans_id", "FLOAT", mode="NULLABLE"),
]
job_config.source_format = bigquery.SourceFormat.CSV
job_config.skip_leading_rows = 1

In [14]:
#open the files and loading them into seperate tables in GBQ

for file in clean_files:
    my_table,junk = file.split("_clean")#splits on _clean in csv files and removes rest as junk
    table_full_name = ".".join([gbq_proj_id,gbq_dataset_id,my_table]) #creates GBQ table name
    
    if not tbl_exists(client, table_full_name) :
        table_ref = client.create_table(table = table_full_name)
    else :
        table_ref = client.get_table(table_full_name)
    
    table = client.get_table(table_ref)
    print("Table {} contains {} columns".format(table_ref.table_id,len(table.schema)))
    
    with open(path_to_files + file, "rb") as source_file:
        job = client.load_table_from_file(
            source_file,
            table_ref,
            location="US",  # Must match the destination dataset location.
            job_config=job_config,
        )  # API request

    job.result()  # Waits for table load to complete.
    print("Loaded {} rows into {}:{}.".format(job.output_rows, 'wedge_example', table_ref.table_id))

    # Checks the updated length of the schema
    table = client.get_table(table)
    print("Table {} now contains {} columns.".format(table_ref.table_id, len(table.schema)))

Table transArchive_201501_201503 contains 0 columns
Loaded 3041128 rows into wedge_example:transArchive_201501_201503.
Table transArchive_201501_201503 now contains 50 columns.

## Part 2
In Part 2 of the Wedge Project, the objectives are to:
    - Build a list of owners 
    - Take a sample of the owners 
    - Extracts all records associated with those owners and writes them to a local text file.

In [5]:
# Connects with GBQ
service_path = "/Users/CJMcWilliams/Desktop/ADA/Wedge/"
service_file = 'Wedge Project-1575e46935c4.json' # change this to your authentication information  
gbq_proj_id = 'disco-beach-290522' # change this to your poroject. 
gbq_dataset_id = 'wedge' # and change this to your data set ID

private_key =service_path + service_file

In [6]:
# Get your credentials
credentials = service_account.Credentials.from_service_account_file(service_path + service_file)

# And create a client to talk to GBQ
client = bigquery.Client(credentials = credentials, project=gbq_proj_id)

In [22]:
#query selecting each individual card_no (distinct) while leaving out card_no=3 (non members)
query = "Select Distinct card_no," "From `disco-beach-290522.wedge.transArchive*`" "Where card_no !=3"

#execute the query using 'client.query'
query_job = client.query(query,location ='US',)

In [23]:
#building a list of all the owners
owners = []

for idx, row in enumerate(query_job) :
    card_no = row[0] #since row in GBQ is a tuple you need to place[]
    
    owners.append(card_no)

In [24]:
import random

In [28]:
#creating a list of random owners
random.seed(101010) #start random generator at the same spot
owner_sample = random.choices(owners,k=401) #random list of owners

In [18]:
#query selecting card numbers
query = """Select * From `disco-beach-290522.wedge.transArchive*` Where card_no in ("""

query = query + ",".join([str(owner) for owner in owner_sample]) + ")"

In [19]:
query_job = client.query(query,location ='US',)

In [20]:
#header names
headers = ["datetime","register_no","emp_no","trans_no","upc","description","trans_type","trans_subtype","trans_status","department","quantity","Scale","cost","unitPrice","total","regPrice","altPrice","tax","taxexempt","foodstamp","wicable","discount","memDiscount","discountable","discounttype","voided","percentDiscount","ItemQtty","volDiscType","volume","VolSpecial","mixMatch","matched","memType","staff","numflag","itemstatus","tenderstatus","charflag","varflag","batchHeaderID","local","organic","display","receipt","card_no","store","branch","match_id","trans_id"]

In [ ]:
#another way to do the "join"
#query = for owner in owner_sample : query = query[:-1] + ")"

In [21]:
#write the files as txt file and add headers to the first row
with open ("owner_query.txt", "w") as outfile :
    outfile.write (",".join(headers) + "\n")
    for row in query_job:
        outfile.write(",".join([str(item) for item in row]) + "\n")

## Part 3
In Part 3 of the Wedge Project, I will build a single SQLite database via Python (in a .db file) containing the three following tables:

In [6]:
# Connects with GBQ
service_path = "/Users/CJMcWilliams/Desktop/ADA/Wedge/"
service_file = 'Wedge Project-1575e46935c4.json' # change this to your authentication information  
gbq_proj_id = 'disco-beach-290522' # change this to your poroject. 
gbq_dataset_id = 'wedge' # and change this to your data set ID

private_key =service_path + service_file

In [7]:
# Get your credentials
credentials = service_account.Credentials.from_service_account_file(service_path + service_file)

# And create a client to talk to GBQ
client = bigquery.Client(credentials = credentials, project=gbq_proj_id)

#### 1) Sales by Date by Hour 
The first table to be created is Sales by date by hour:

By calendar date (YYYY-MM-DD) and hour of the day, determine the total spend in the store, the number of transactions, and a count of the number of items .

In [90]:
#writing out the query
#query for SALES by DATE by HOUR
query = ("SELECT (EXTRACT(date FROM datetime)) AS Date, " 
"(EXTRACT(hour FROM datetime)) AS Hour, " 
"SUM(total) AS Sales, " 
"COUNT(DISTINCT(Date(datetime) || register_no || emp_no || trans_no)) AS Transactions, " 
"SUM(CASE WHEN(trans_status = 'V' OR trans_status = 'R') THEN -1 ELSE 1 END) as Items "  
"FROM `disco-beach-290522.wedge.transArchive*` " 
"WHERE card_no != 3 " 
"AND department != 0 " 
"AND department != 15 " 
"AND trans_status != 'M' " 
"AND trans_status != 'C' " 
"AND trans_status != 'J' " 
"AND (trans_status = '' " 
"OR trans_status = ' ' " 
"OR trans_status =  'V' " 
"OR trans_status = 'R') " 
"GROUP BY Date, Hour " 
"ORDER BY Date, Hour ")

#execute the query using 'client.query'
query_job = client.query(query,location ='US',)

In [63]:
head = ["date","hour","sales","transactions","items"]

In [64]:
#change name, write out to a .txt file, CHANGE headers
with open ("Table 1: SALES by DATE by HOUR.txt", "w") as outfile :
    outfile.write (",".join(head) + "\n")
    for row in query_job:
        outfile.write(",".join([str(item) for item in row]) + "\n")

In [15]:
import sqlite3

In [16]:
#creating a database
db = sqlite3.connect("wedge_project.db")

In [17]:
#a way to talk to the database
cur = db.cursor()

In [69]:
#saving table as variable that will be used to load into database
input_file = "Table 1: SALES by DATE by HOUR.txt"

In [71]:
#creates new blank table with headers
cur.execute('''DROP TABLE IF EXISTS table1''')
cur.execute('''CREATE TABLE table1 (
    date TIMESTAMP, 
    hour INTEGER, 
    sales INTEGER,
    transactions INTEGER,
    items INTEGER)''')

#actually loading the data into the table in the database
with open(input_file,'r', encoding="Latin-1") as ifile :
    next(ifile) #skips headers
    for idx, line in enumerate(ifile.readlines()) :
        line = line.strip().split(",")
        cur.execute('''
            INSERT INTO table1 (date,hour,sales,transactions,items)
            VALUES (?,?,?,?,?)''', line)

        #if idx > 100 :
            #break

db.commit()

#### 2) Sales by Owner by Year
The second table to be created is Sales by owner by year by month: 

A file that has the following columns: card_no, year, month, sales, transactions, and items.

In [91]:
#writing out the query
#query for SALES by DATE by HOUR
query = ('''SELECT card_no As Owner,
    (EXTRACT(year FROM datetime)) AS Year,
    (EXTRACT(month FROM datetime)) AS Month,
    SUM(total) AS Sales,
    COUNT(DISTINCT(Date(datetime) || register_no || emp_no || trans_no)) AS Transactions,
    SUM(CASE WHEN(trans_status = 'V' OR trans_status = 'R') THEN -1 ELSE 1 END) as Items
    FROM `disco-beach-290522.wedge.transArchive*`
    WHERE card_no != 3
    AND department != 0
    AND department != 15
    AND trans_status != 'M'
    AND trans_status != 'C'
    AND trans_status != 'J'
    AND (trans_status = ''
    OR trans_status = ' '
    OR trans_status =  'V'
    OR trans_status = 'R')
    GROUP BY Owner, Year, Month
    ORDER BY Owner, Year, Month DESC''')

#execute the query using 'client.query'
query_job = client.query(query,location ='US',)

In [92]:
#test
query

"SELECT card_no As Owner,\n    (EXTRACT(year FROM datetime)) AS Year,\n    (EXTRACT(month FROM datetime)) AS Month,\n    SUM(total) AS Sales,\n    COUNT(DISTINCT(Date(datetime) || register_no || emp_no || trans_no)) AS Transactions,\n    SUM(CASE WHEN(trans_status = 'V' OR trans_status = 'R') THEN -1 ELSE 1 END) as Items\n    FROM `disco-beach-290522.wedge.transArchive*`\n    WHERE card_no != 3\n    AND department != 0\n    AND department != 15\n    AND trans_status != 'M'\n    AND trans_status != 'C'\n    AND trans_status != 'J'\n    AND (trans_status = ''\n    OR trans_status = ' '\n    OR trans_status =  'V'\n    OR trans_status = 'R')\n    GROUP BY Owner, Year, Month\n    ORDER BY Owner, Year, Month DESC"

In [93]:
headers = ["owner","year","month","sales","transactions","items"]

In [94]:
#change name, write out to a .txt file, CHANGE headers
with open ("Table 2: Sales by Owner by Year.txt", "w") as outfile :
    outfile.write (",".join(headers) + "\n")
    for row in query_job:
        outfile.write(",".join([str(item) for item in row]) + "\n")

In [95]:
#saving table as variable that will be used to load into database
input_file = "Table 2: Sales by Owner by Year.txt"

In [96]:
#creates new blank table with headers
cur.execute('''DROP TABLE IF EXISTS table2''')
cur.execute('''CREATE TABLE table2 (
    owner INTEGER,
    year INTEGER,
    month INTEGER,
    sales INTEGER,
    transactions INTEGER,
    items INTEGER)''')

#actually loading the data into the table in the database
with open(input_file,'r', encoding="Latin-1") as ifile :
    next(ifile) #skips headers
    for idx, line in enumerate(ifile.readlines()) :
        line = line.strip().split(",")
        cur.execute('''
            INSERT INTO table2 (owner,year,month,sales,transactions,items)
            VALUES (?,?,?,?,?,?)''', line)

        #if idx > 100 :
            #break

db.commit()

#### 3) Sales by Product Description by Year by Month
The third table to be created is Sales by product description by year by month: 

A file that has the following columns: upc, description, department number, department name, year, month, sales, transactions, and items.

In [8]:
#writing out the query
#query for SALES by PRODUCT DESCRIPTION by YEAR by MONTH
query = ('''SELECT tr.department, dl.dept_name,
    description,
    (EXTRACT(year FROM datetime)) AS Year,
    (EXTRACT(month FROM datetime)) AS Month,
    upc,
    SUM(total) AS Sales,
    COUNT(DISTINCT(Date(datetime) || register_no || emp_no || trans_no)) AS Transactions,
    SUM(CASE WHEN(trans_status = 'V' OR trans_status = 'R') THEN -1 ELSE 1 END) as Items,
    tr.department AS dept_no
    FROM `disco-beach-290522.wedge.transArchive*` AS tr
    LEFT OUTER JOIN `disco-beach-290522.wedge.department_lookup` AS dl ON tr.department = dl.department
    WHERE card_no != 3
    AND tr.department != 0 
    AND tr.department != 15
    AND trans_status != 'M'
    AND trans_status != 'C'
    AND trans_status != 'J'
    AND (trans_status = ''
    OR trans_status = ' '
    OR trans_status =  'V'
    OR trans_status = 'R')
    GROUP BY Year, Month, upc, description, dept_no, dl.dept_name
    ORDER BY description, Year, Month DESC''')

#execute the query using 'client.query'
query_job = client.query(query,location ='US',)

In [10]:
headers = ["Department","Dept_name","Description","Year","Month","upc","Sales","Transactions","Items","dept_no"]

In [11]:
#change name, write out to a .txt file, CHANGE headers
with open ("Table 3: Sales by Product Description by Year by Month.txt", "w") as outfile :
    outfile.write (",".join(headers) + "\n")
    for row in query_job:
        outfile.write(",".join([str(item) for item in row]) + "\n")

In [13]:
#saving table as variable that will be used to load into database
input_file = "Table 3: Sales by Product Description by Year by Month.txt"

In [19]:
#creates new blank table with headers
cur.execute('''DROP TABLE IF EXISTS table3''')
cur.execute('''CREATE TABLE table3 (
    Department INTEGER,
    Dept_name INTERGER,
    Description INTERGER,
    Year INTEGER,
    Month INTEGER,
    upc INTEGER,
    Sales INTEGER,
    Transactions INTEGER,
    Items INTEGER,
    dept_no INTEGER)''')

#actually loading the data into the table in the database
with open(input_file,'r', encoding="Latin-1") as ifile :
    next(ifile) #skips headers
    for idx, line in enumerate(ifile.readlines()) :
        line = line.strip().split(",")
        cur.execute('''
            INSERT INTO table3 (Department,Dept_name,Description,Year,Month,upc,Sales,Transactions,Items,dept_no)
            VALUES (?,?,?,?,?,?,?,?,?,?)''', line)

        #if idx > 100 :
            #break

db.commit()

# Wow... Finally finished!

All three tables are now loaded into a SQL database.